<div class="container-fluid" style="margin:0!important; ">
    <app-page-spinner *ngIf="loading"></app-page-spinner>
    <div *ngIf="!loading" class="row justify-content-center" style="padding-top: 40px;">
        <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-10 col-sm-12 col-12">
            <mat-card class="flatCard">
                <mat-card-header style="width: 100%;">
                    <div class="row justify-content-center" style="width: 100%;">
                        <div class="col-12" align="center">
                            <mat-card-title class="listTileTitle">
                                <mat-icon style="size: 30px;">account_circle</mat-icon>
                            </mat-card-title>
                        </div>
                    </div>
                    <div class="row justify-content-center" style="width: 100%;">
                        <div class="col-12" align="center">
                            <mat-card-title class="listTileTitle">
                                <h1>ACCOUNT</h1>
                            </mat-card-title>
                        </div>

                    </div>
                </mat-card-header>
                <mat-card-content>
                    <mat-list role="list mt-2">
                        <mat-list-item role="listitem">
                            <div class="row w-100">
                                <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-5 col-6">
                                    <h4 class="listTileTitle listTileTexts">Username</h4>
                                </div>
                                <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-7 col-6">
                                    <h4 class="listTileTexts text">
                                        {{ user.username ? user.username : "Non presente" }}
                                    </h4>
                                </div>
                            </div>
                        </mat-list-item>
                        <mat-divider [inset]="true"></mat-divider>
                        <mat-list-item role="listitem">
                            <div class="row w-100">
                                <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-5 col-6">
                                    <h4 class="listTileTitle listTileTexts">Ruolo</h4>
                                </div>
                                <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 col-sm-7 col-6">
                                    <h4 class="listTileTexts text">
                                        {{ user!.role ? user!.role : "Non presente" }}
                                    </h4>
                                </div>
                            </div>
                        </mat-list-item>
                    </mat-list>

                </mat-card-content>
            </mat-card>
        </div>

    </div>
</div>